In [1]:
import pandas as pd
import numpy as np
from sklearn.externals import joblib
from utils.classifications_utils import *
from utils.data_processing_utils import *
from utils.data_visualization_utils import *
from utils.metrics_utils import *
from utils.grid_search_utils import *
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier, AdaBoostClassifier
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
FOLDER_PATH = "pickled_models/rf/"
FOLDER_PATH2 = "pickled_models/et/"
FOLDER_PATH3 = "pickled_models/adaBoost/"
FOLDER_PATH4 = "pickled_models/svm/"

In [3]:
no_wind_data = load_data(0, 1, "drone3")
no_wind_data = separate_data_based_on_apparatus(no_wind_data)

level_1_wind = load_data(1, 1, "drone3")
level_1_wind = separate_data_based_on_apparatus(level_1_wind)

level_3_wind = load_data(3, 1, "drone3")
level_3_wind = separate_data_based_on_apparatus(level_3_wind)

level_6_wind = load_data(6, 1, "drone3")
level_6_wind = separate_data_based_on_apparatus(level_6_wind)

level_8_wind = load_data(8, 1, "drone3")
level_8_wind = separate_data_based_on_apparatus(level_8_wind)

In [4]:
no_wind_transformed = transformed_all_data(no_wind_data, 0)
level_1_wind_transformed = transformed_all_data(level_1_wind, 1)
level_3_wind_transformed = transformed_all_data(level_3_wind, 2)
level_6_wind_transformed = transformed_all_data(level_6_wind, 3)
level_8_wind_transformed = transformed_all_data(level_8_wind, 4)

acc_no_wind, gyro_no_wind, mag_no_wind, stabilizer_no_wind = tuple(no_wind_transformed)
acc_level_1_wind, gyro_level_1_wind, mag_level_1_wind, stabilizer_level_1_wind = tuple(level_1_wind_transformed)
acc_level_3_wind, gyro_level_3_wind, mag_level_3_wind, stabilizer_level_3_wind = tuple(level_3_wind_transformed)
acc_level_6_wind, gyro_level_6_wind, mag_level_6_wind, stabilizer_level_6_wind = tuple(level_6_wind_transformed)
acc_level_8_wind, gyro_level_8_wind, mag_level_8_wind, stabilizer_level_8_wind = tuple(level_8_wind_transformed)

In [5]:
df_acc = acc_no_wind.append(acc_level_1_wind, ignore_index=True)
df_acc = df_acc.append(acc_level_3_wind, ignore_index=True)
df_acc = df_acc.append(acc_level_6_wind, ignore_index=True)
df_acc = df_acc.append(acc_level_8_wind, ignore_index=True)

In [6]:
df_sta = stabilizer_no_wind.append(stabilizer_level_1_wind, ignore_index=True)
df_sta = df_sta.append(stabilizer_level_3_wind, ignore_index=True)
df_sta = df_sta.append(stabilizer_level_6_wind, ignore_index=True)
df_sta = df_sta.append(stabilizer_level_8_wind, ignore_index=True)

In [7]:
df_gyro = gyro_no_wind.append(gyro_level_1_wind, ignore_index=True)
df_gyro = df_gyro.append(gyro_level_3_wind, ignore_index=True)
df_gyro = df_gyro.append(gyro_level_6_wind, ignore_index=True)
df_gyro = df_gyro.append(gyro_level_8_wind, ignore_index=True)

# Accelerometer

In [8]:
pickled_clf = joblib.load(FOLDER_PATH + 'random_forest_acc.pkl')
pickled_clf2 = joblib.load(FOLDER_PATH2 + 'et_acc.pkl')
pickled_clf3 = joblib.load(FOLDER_PATH3 + 'adaBoost_acc.pkl')
pickled_clf4 = joblib.load(FOLDER_PATH4 + 'svm_acc.pkl')

In [9]:
X_acc = df_acc.iloc[:, :-1]
y_acc = df_acc["label"]
X_train, X_test, y_train, y_test = train_test_split(X_acc, y_acc, test_size=0.2, random_state=42)

In [10]:
y_pred = pickled_clf.predict(X_test)
pickled_clf.score(X_test, y_test)

0.202167287504233

In [11]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0        15         0         0         0         0
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4      1124      1199      1237      1152      1179

In [12]:
y_pred = pickled_clf2.predict(X_test)
pickled_clf2.score(X_test, y_test)

0.20047409414155096

In [13]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0         5         0         0         0         0
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4      1134      1199      1237      1152      1179

In [14]:
y_pred = pickled_clf3.predict(X_test)
pickled_clf3.score(X_test, y_test)

0.2204537758211988

In [15]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0       214        63        73        97        91
predicted_1       620       586       566       594       586
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4       305       550       598       461       502

In [16]:
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [17]:
y_pred = pickled_clf4.predict(X_test)
pickled_clf4.score(X_test, y_test)

0.2126650863528615

In [18]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0        34        23        38        14         5
predicted_1         4         3        26         2         0
predicted_2        14        46        97        28        95
predicted_3         7       177       126       195       152
predicted_4      1080       950       950       913       927

# Stabilizer

In [19]:
pickled_clf = joblib.load(FOLDER_PATH + 'random_forest_sta.pkl')
pickled_clf2 = joblib.load(FOLDER_PATH2 + 'et_sta.pkl')
pickled_clf3 = joblib.load(FOLDER_PATH3 + 'adaBoost_sta.pkl')
pickled_clf4 = joblib.load(FOLDER_PATH4 + 'svm_sta.pkl')

In [20]:
X_sta = df_sta.iloc[:, :-1]
y_sta = df_sta["label"]
X_train, X_test, y_train, y_test = train_test_split(X_sta, y_sta, test_size=0.2, random_state=42)

In [21]:
y_pred = pickled_clf.predict(X_test)
pickled_clf.score(X_test, y_test)

0.390958347443278

In [22]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139       112       107         6        43
predicted_1         0       303       298       309       345
predicted_2         0       664       588       465       519
predicted_3         0        63       150       199       192
predicted_4         0        57        94       173        80

In [23]:
y_pred = pickled_clf2.predict(X_test)
pickled_clf2.score(X_test, y_test)

0.4087368777514392

In [24]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139        85        71         2        26
predicted_1         0       312       278       276       312
predicted_2         0       671       641       485       549
predicted_3         0        60       158       222       192
predicted_4         0        71        89       167       100

In [25]:
y_pred = pickled_clf3.predict(X_test)
pickled_clf3.score(X_test, y_test)

0.4209278699627497

In [26]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139        43        29         1         5
predicted_1         0       313       304       217       193
predicted_2         0       713       654       505       706
predicted_3         0        68       166       336       231
predicted_4         0        62        84        93        44

In [27]:
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [28]:
y_pred = pickled_clf4.predict(X_test)
pickled_clf4.score(X_test, y_test)

0.4033186589908568

In [29]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139        76        66        10        25
predicted_1         0       411       497       364       410
predicted_2         0       364       255       177       214
predicted_3         0       232       262       399       352
predicted_4         0       116       157       202       178

# Gyro

In [30]:
pickled_clf = joblib.load(FOLDER_PATH + 'random_forest_gyro.pkl')
pickled_clf2 = joblib.load(FOLDER_PATH2 + 'et_gyro.pkl')
pickled_clf3 = joblib.load(FOLDER_PATH3 + 'adaBoost_gyro.pkl')
pickled_clf4 = joblib.load(FOLDER_PATH4 + 'svm_gyro.pkl')

In [31]:
X_gyro = df_gyro.iloc[:, :-1]
y_gyro = df_gyro["label"]
X_train, X_test, y_train, y_test = train_test_split(X_gyro, y_gyro, test_size=0.2, random_state=42)

In [32]:
y_pred = pickled_clf.predict(X_test)
pickled_clf.score(X_test, y_test)

0.4871317304436167

In [33]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139        16         0         0         0
predicted_1         0       796       572       231       234
predicted_2         0       319       477       368       389
predicted_3         0        58        93       252       343
predicted_4         0        10        95       301       213

In [34]:
y_pred = pickled_clf2.predict(X_test)
pickled_clf2.score(X_test, y_test)

0.48611581442600743

In [35]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139        16         0         0         0
predicted_1         0       806       607       236       254
predicted_2         0       309       440       364       367
predicted_3         0        59        96       258       330
predicted_4         0         9        94       294       228

In [36]:
y_pred = pickled_clf3.predict(X_test)
pickled_clf3.score(X_test, y_test)

0.4891635624788351

In [37]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139        14         0         0         0
predicted_1         0       694       424       142       126
predicted_2         0       396       518       433       340
predicted_3         0        81       179       251       426
predicted_4         0        14       116       326       287

In [38]:
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [39]:
y_pred = pickled_clf4.predict(X_test)
pickled_clf4.score(X_test, y_test)

0.47697257026752454

In [40]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1059         4         0         0         0
predicted_1         0       489       224       138        94
predicted_2         0       406       500       268       281
predicted_3        80       281       421       550       585
predicted_4         0        19        92       196       219

# Gyro + Accelerometer

In [41]:
pickled_clf = joblib.load(FOLDER_PATH + 'random_forest_gyro_acc.pkl')
pickled_clf2 = joblib.load(FOLDER_PATH2 + 'et_gyro_acc.pkl')
pickled_clf3 = joblib.load(FOLDER_PATH3 + 'adaBoost_gyro_acc.pkl')
pickled_clf4 = joblib.load(FOLDER_PATH4 + 'svm_gyro_acc.pkl')

In [42]:
X_gyro_acc = pd.concat([X_gyro, X_acc], axis=1)
y_gyro_acc = y_gyro
X_gyro_acc.head()

,mu_x_gyro,mu_y_gyro,mu_z_gyro,std_x_gyro,std_y_gyro,std_z_gyro,avg_resultant_acc_gyro,bins_0_gyro,bins_1_gyro,bins_2_gyro,...,bins_23_acc,bins_24_acc,bins_25_acc,bins_26_acc,bins_27_acc,bins_28_acc,bins_29_acc,mean_average_difference_x_acc,mean_average_difference_y_acc,mean_average_difference_z_acc
0,-0.009106,-0.578250,-0.486069,3.636300,3.134631,1.004733,4.464595,4.0,4.0,9.0,...,11.0,17.0,11.0,10.0,11.0,3.0,2.0,0.055929,0.082545,0.045830
1,-0.004169,-0.596648,-0.490217,3.636975,3.149316,1.014886,4.481096,4.0,4.0,9.0,...,11.0,16.0,12.0,10.0,11.0,3.0,2.0,0.055811,0.082538,0.045966
2,0.002094,-0.615925,-0.497787,3.635308,3.155434,1.033801,4.494133,4.0,4.0,9.0,...,11.0,17.0,12.0,10.0,11.0,3.0,2.0,0.055613,0.082113,0.045592
3,0.009925,-0.641325,-0.503862,3.631776,3.149600,1.047752,4.494840,4.0,4.0,9.0,...,11.0,18.0,12.0,10.0,11.0,3.0,2.0,0.055054,0.080346,0.044611
4,0.027315,-0.684527,-0.517753,3.622390,3.117040,1.080746,4.480896,4.0,4.0,9.0,...,11.0,18.0,13.0,10.0,11.0,3.0,2.0,0.054298,0.079964,0.044367

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X_gyro_acc, y_gyro_acc, test_size=0.2, random_state=42)

In [44]:
y_pred = pickled_clf.predict(X_test)
pickled_clf.score(X_test, y_test)

0.39349813748730106

In [45]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139         0         0         0         0
predicted_1         0         0         0         0         0
predicted_2         0         0         6         0         0
predicted_3         0         0         0         0         0
predicted_4         0      1199      1231      1152      1179

In [46]:
y_pred = pickled_clf2.predict(X_test)
pickled_clf2.score(X_test, y_test)

0.39248222146969186

In [47]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139         0         0         0         0
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4         0      1199      1237      1152      1179

In [48]:
y_pred = pickled_clf3.predict(X_test)
pickled_clf3.score(X_test, y_test)

0.39248222146969186

In [49]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139        14         0         0         0
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4         0      1185      1237      1152      1179

In [50]:
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [51]:
y_pred = pickled_clf4.predict(X_test)
pickled_clf4.score(X_test, y_test)

0.43007111412123267

In [52]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139        32        18         0         0
predicted_1         0       110       182        36        17
predicted_2         0       575       468       291       299
predicted_3         0       394       538       809       849
predicted_4         0        88        31        16        14

# Gyro + Stabilizer

In [53]:
pickled_clf = joblib.load(FOLDER_PATH + 'random_forest_gyro_stb.pkl')
pickled_clf2 = joblib.load(FOLDER_PATH2 + 'et_gyro_stb.pkl')
pickled_clf3 = joblib.load(FOLDER_PATH3 + 'adaBoost_gyro_stb.pkl')
pickled_clf4 = joblib.load(FOLDER_PATH4 + 'svm_gyro_stb.pkl')

In [54]:
X_gyro_sta = pd.concat([X_gyro, X_sta], axis=1)
y_gyro_sta = y_gyro
X_gyro_sta.head()

,mu_x_gyro,mu_y_gyro,mu_z_gyro,std_x_gyro,std_y_gyro,std_z_gyro,avg_resultant_acc_gyro,bins_0_gyro,bins_1_gyro,bins_2_gyro,...,bins_23_stabilizer,bins_24_stabilizer,bins_25_stabilizer,bins_26_stabilizer,bins_27_stabilizer,bins_28_stabilizer,bins_29_stabilizer,mean_average_difference_x_stabilizer,mean_average_difference_y_stabilizer,mean_average_difference_z_stabilizer
0,-0.009106,-0.578250,-0.486069,3.636300,3.134631,1.004733,4.464595,4.0,4.0,9.0,...,18.0,24.0,19.0,2.0,3.0,1.0,2.0,0.186676,0.176062,0.058991
1,-0.004169,-0.596648,-0.490217,3.636975,3.149316,1.014886,4.481096,4.0,4.0,9.0,...,16.0,17.0,28.0,9.0,2.0,2.0,2.0,0.184935,0.174752,0.058535
2,0.002094,-0.615925,-0.497787,3.635308,3.155434,1.033801,4.494133,4.0,4.0,9.0,...,20.0,17.0,17.0,30.0,2.0,3.0,2.0,0.182609,0.173541,0.058626
3,0.009925,-0.641325,-0.503862,3.631776,3.149600,1.047752,4.494840,4.0,4.0,9.0,...,6.0,21.0,18.0,22.0,23.0,2.0,3.0,0.178716,0.170991,0.059271
4,0.027315,-0.684527,-0.517753,3.622390,3.117040,1.080746,4.480896,4.0,4.0,9.0,...,2.0,19.0,16.0,18.0,31.0,6.0,3.0,0.173946,0.169402,0.060504

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X_gyro_sta, y_gyro_sta, test_size=0.2, random_state=42)

In [56]:
y_pred = pickled_clf.predict(X_test)
pickled_clf.score(X_test, y_test)

0.47883508296647476

In [57]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139        16         0         0         0
predicted_1         0       736       508       229       229
predicted_2         0       437       575       498       509
predicted_3         0        10        79       211       274
predicted_4         0         0        75       214       167

In [58]:
y_pred = pickled_clf2.predict(X_test)
pickled_clf2.score(X_test, y_test)

0.4818828310193024

In [59]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139        15         0         0         0
predicted_1         0       767       499       204       231
predicted_2         0       397       560       529       482
predicted_3         0        20        99       204       290
predicted_4         0         0        79       215       176

In [60]:
y_pred = pickled_clf3.predict(X_test)
pickled_clf3.score(X_test, y_test)

0.4852692177446664

In [61]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139        14         0         0         0
predicted_1         0       735       501       195       168
predicted_2         0       346       433       321       333
predicted_3         0        41       195       333       452
predicted_4         0        63       108       303       226

In [62]:
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [63]:
y_pred = pickled_clf4.predict(X_test)
pickled_clf4.score(X_test, y_test)

0.48459194039959363

In [64]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139        14         7         0         0
predicted_1         0       539       284       181       150
predicted_2         0       505       534       304       407
predicted_3         0        96       261       297       269
predicted_4         0        45       151       370       353

# Accelerometer + Stabilizer

In [65]:
pickled_clf = joblib.load(FOLDER_PATH + 'random_forest_acc_stb.pkl')
pickled_clf2 = joblib.load(FOLDER_PATH2 + 'et_acc_stb.pkl')
pickled_clf3 = joblib.load(FOLDER_PATH3 + 'adaBoost_acc_stb.pkl')
pickled_clf4 = joblib.load(FOLDER_PATH4 + 'svm_acc_stb.pkl')

In [66]:
X_acc_sta = pd.concat([X_acc, X_sta], axis=1)
y_acc_sta = y_gyro
X_acc_sta.head()

,mu_x_acc,mu_y_acc,mu_z_acc,std_x_acc,std_y_acc,std_z_acc,avg_resultant_acc_acc,bins_0_acc,bins_1_acc,bins_2_acc,...,bins_23_stabilizer,bins_24_stabilizer,bins_25_stabilizer,bins_26_stabilizer,bins_27_stabilizer,bins_28_stabilizer,bins_29_stabilizer,mean_average_difference_x_stabilizer,mean_average_difference_y_stabilizer,mean_average_difference_z_stabilizer
0,-0.002922,-0.040554,1.009290,0.070624,0.107846,0.055298,1.018349,4.0,6.0,12.0,...,18.0,24.0,19.0,2.0,3.0,1.0,2.0,0.186676,0.176062,0.058991
1,-0.002786,-0.040561,1.009423,0.070612,0.107845,0.055339,1.018481,4.0,6.0,12.0,...,16.0,17.0,28.0,9.0,2.0,2.0,2.0,0.184935,0.174752,0.058535
2,-0.002515,-0.039966,1.009872,0.070573,0.107744,0.055183,1.018890,4.0,6.0,12.0,...,20.0,17.0,17.0,30.0,2.0,3.0,2.0,0.182609,0.173541,0.058626
3,-0.003341,-0.038369,1.010874,0.070247,0.106375,0.054285,1.019645,4.0,6.0,12.0,...,6.0,21.0,18.0,22.0,23.0,2.0,3.0,0.178716,0.170991,0.059271
4,-0.005887,-0.036280,1.011656,0.068978,0.106224,0.054113,1.020247,4.0,7.0,12.0,...,2.0,19.0,16.0,18.0,31.0,6.0,3.0,0.173946,0.169402,0.060504

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X_acc_sta, y_acc_sta, test_size=0.2, random_state=42)

In [68]:
y_pred = pickled_clf.predict(X_test)
pickled_clf.score(X_test, y_test)

0.3923129021334236

In [69]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1138         4         0         0         0
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4         1      1195      1237      1152      1179

In [70]:
y_pred = pickled_clf2.predict(X_test)
pickled_clf2.score(X_test, y_test)

0.3919742634608872

In [71]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1136         1         1         0         0
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4         3      1198      1236      1152      1179

In [72]:
y_pred = pickled_clf3.predict(X_test)
pickled_clf3.score(X_test, y_test)

0.40399593633592956

In [73]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1135        10         0         0         0
predicted_1         0        30        54        15        38
predicted_2         4       352       279        98       199
predicted_3         0         0         0         0         0
predicted_4         0       807       904      1039       942

In [74]:
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [75]:
y_pred = pickled_clf4.predict(X_test)
pickled_clf4.score(X_test, y_test)

0.4194039959363359

In [76]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139        44        22         3         2
predicted_1         0       121       254       110        62
predicted_2         0       377       341       158       281
predicted_3         0       500       575       857       815
predicted_4         0       157        45        24        19

# All

In [88]:
pickled_clf = joblib.load(FOLDER_PATH + 'random_forest_all.pkl')
pickled_clf2 = joblib.load(FOLDER_PATH2 + 'et_all.pkl')
pickled_clf3 = joblib.load(FOLDER_PATH3 + 'adaBoost_all.pkl')
pickled_clf4 = joblib.load(FOLDER_PATH4 + 'svm_all.pkl')

In [89]:
X_all = pd.concat([X_gyro, X_acc, X_sta], axis=1)
y_all = y_gyro
X_all.head()

,mu_x_gyro,mu_y_gyro,mu_z_gyro,std_x_gyro,std_y_gyro,std_z_gyro,avg_resultant_acc_gyro,bins_0_gyro,bins_1_gyro,bins_2_gyro,...,bins_23_stabilizer,bins_24_stabilizer,bins_25_stabilizer,bins_26_stabilizer,bins_27_stabilizer,bins_28_stabilizer,bins_29_stabilizer,mean_average_difference_x_stabilizer,mean_average_difference_y_stabilizer,mean_average_difference_z_stabilizer
0,-0.009106,-0.578250,-0.486069,3.636300,3.134631,1.004733,4.464595,4.0,4.0,9.0,...,18.0,24.0,19.0,2.0,3.0,1.0,2.0,0.186676,0.176062,0.058991
1,-0.004169,-0.596648,-0.490217,3.636975,3.149316,1.014886,4.481096,4.0,4.0,9.0,...,16.0,17.0,28.0,9.0,2.0,2.0,2.0,0.184935,0.174752,0.058535
2,0.002094,-0.615925,-0.497787,3.635308,3.155434,1.033801,4.494133,4.0,4.0,9.0,...,20.0,17.0,17.0,30.0,2.0,3.0,2.0,0.182609,0.173541,0.058626
3,0.009925,-0.641325,-0.503862,3.631776,3.149600,1.047752,4.494840,4.0,4.0,9.0,...,6.0,21.0,18.0,22.0,23.0,2.0,3.0,0.178716,0.170991,0.059271
4,0.027315,-0.684527,-0.517753,3.622390,3.117040,1.080746,4.480896,4.0,4.0,9.0,...,2.0,19.0,16.0,18.0,31.0,6.0,3.0,0.173946,0.169402,0.060504

In [90]:
X_train, X_test, y_train, y_test = train_test_split(X_all, y_all, test_size=0.2, random_state=42)

In [91]:
y_pred = pickled_clf.predict(X_test)
pickled_clf.score(X_test, y_test)

0.39248222146969186

In [92]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139         0         0         0         0
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4         0      1199      1237      1152      1179

In [93]:
y_pred = pickled_clf2.predict(X_test)
pickled_clf2.score(X_test, y_test)

0.39248222146969186

In [94]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139         0         0         0         0
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4         0      1199      1237      1152      1179

In [95]:
y_pred = pickled_clf3.predict(X_test)
pickled_clf3.score(X_test, y_test)

0.39248222146969186

In [96]:
get_confusion_matrix(y_pred, y_test)

             actual_0  actual_1  actual_2  actual_3  actual_4
predicted_0      1139        14         0         0         0
predicted_1         0         0         0         0         0
predicted_2         0         0         0         0         0
predicted_3         0         0         0         0         0
predicted_4         0      1185      1237      1152      1179

In [97]:
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [98]:
y_pred = pickled_clf4.predict(X_test)
pickled_clf4.score(X_test, y_test)

0.4519133084998307

In [ ]:
get_confusion_matrix(y_pred, y_test)